<div id="add_room_form">
	<fieldset>
		<legend>SHOWING INFORMATION FOR CLIENT</legend>
			<div class="left">
			<p>
			  <b>Full name:</b>
			  <%=h @client.full_name %>
			</p>

			<p>
			  <b>Full name second:</b>
			  <%=h @client.full_name_second %>
			</p>

			<p>
			  <b>Address:</b>
			  <%=h @client.address %>
			</p>

			<p>
			  <b>City:</b>
			  <%=h @client.city %>
			</p>

			<p>
			  <b>State:</b>
			  <%=h @client.state %>
			</p>

			<p>
			  <b>Zip:</b>
			  <%=h @client.zip %>
			</p>

			<p>
			  <b>Home phone:</b>
			  <%=h @client.home_phone %>
			</p>

			<p>
			  <b>Work phone:</b>
			  <%=h @client.work_phone %>
			</p>

			<p>
			  <b>Email:</b>
			  <%=h @client.email %>
			</p>



			<p>
			  <b>Start date:</b>
			  <%=h @client.start_date %>
			</p>

			<p>
			  <b>Contract return date:</b>
			  <%=h @client.contract_return_date %>
			</p>

			<p>
			  <b>Cancellation date:</b>
			  <%=h @client.cancellation_date %>
			</p>

			<p>
			  <b>Charge return date:</b>
			  <%=h @client.charge_return_date %>
			</p>

			<p>
			  <b>Tts sale person:</b>
			  <%=h @client.tts_sale_person %>
			</p>

			<p>
			  <b>Client pin:</b>
			  <%=h @client.client_pin %>
			</p>
			</div>

			<div class="right" style="margin-right: 150px">
				<p>
				  <b>Fee paid:</b>
				  <%=h @client.fee_paid %>
				</p>

				<p>
				  <b>Payment type:</b>
				  <%=h @client.payment_type %>
				</p>

				<p>
				  <b>Charge date:</b>
				  <%=h @client.charge_date %>
				</p>

				<p>
				  <b>Credit card:</b>
				  <%=h @client.credit_card %>
				</p>

				<p>
				  <b>Credit card type:</b>
				  <%=h @client.credit_card_type %>
				</p>

				<p>
				  <b>Credit card expiration:</b>
				  <%=h @client.credit_card_expiration %>
				</p>

				<p>
				  <b>Billing name:</b>
				  <%=h @client.billing_name %>
				</p>

				<p>
				  <b>Billing address:</b>
				  <%=h @client.billing_address %>
				</p>

				<p>
				  <b>Billing city:</b>
				  <%=h @client.billing_city %>
				</p>

				<p>
				  <b>Billing state:</b>
				  <%=h @client.billing_state %>
				</p>

				<p>
				  <b>Billing zip:</b>
				  <%=h @client.billing_zip %>
				</p>
	
				<p>
				  <b>Resort sale person:</b>
				  <%=h @client.resort_sale_person %>
				</p>

				<p>
				  <b>Notes:</b>
				  <%=h @client.notes %>
				</p>
			</div>
		</fieldset>
	</div>
<%= render :partial => 'bottom_menu' %>

<fieldset>
  <legend>Comments:</legend>  
  <%= render :partial => 'comments/new' %>
  <%= render :partial => 'comments/show' %>
</fieldset>



