<div id="add_room_form">
	<fieldset>
		<legend>NEW ROOM</legend>
			<% form_for @room, :html => { :multipart => true } do |f| %>
			  <%= f.error_messages %>

			  <p>
			    <%= f.label :code %><br />
			    <%= f.text_field :code %>
			  </p>
			  <p>
			    <%= f.label :availability %><br />
			    <%= f.text_field :availability %>
			  </p>
			  <p>
			    <%= f.label :sale_or_rent %><br />
			  	<%= select :room, :sale_or_rent, %w[Sale Rent], {}, {:prompt => 'Select Person'} %>
			  </p>
				<p>
					<%= f.label :price %> <label>or 0 for negotiable</label><br/>
					<%= f.text_field :price %>
				</p>
				<p>
					<%= f.label :owner_name %><br/>
					<%= collection_select :room, :client_id, Client.find(:all), :id, :full_name %>
				</p>
				<p>
					<%= f.label :unit_size %><br/>
					<%= collection_select :room, :unit_size_id, UnitSize.find(:all), :id, :name %>
				</p>
				<p>
					<%= f.label :resort %><br/>
					<%= collection_select :room, :resort_id, Resort.find(:all, :order => "name asc"), :id, :name %>
				</p>
				<p>
					<%= f.label :image %><br/>
					<%= f.file_field :image %>
				</p>
			  <p>
			    <%= f.submit "Create", :class => "submit" %>
			  </p>
			<% end %>
	</fieldset>
</div>