<p>
  <b>Owner:</b>
  <%=h @room.client.full_name %>
</p>
<p>
  <b>Code:</b>
  <%=h @room.code %>
</p>

<p>
  <b>Availability:</b>
  <%=h @room.availability %>
</p>

<p>
  <b>Sale or rent:</b>
  <%=h @room.sale_or_rent %>
</p>

<p>
  <b>Price:</b>
  <%=h @room.price %>
</p>

<%= link_to 'Express Interest', :controller => 'rooms', :action => :express_interest, :id => @room.id %>
<%= link_to 'Back', :back %>
