<p>
  <b>Name:</b>
  <%=h @city.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @city.description %>
</p>

<p>
  <b>Image:</b>
  <%=h @city.image %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
