<div class="main_blur_full_resorts">
	<h5><%=h @resort.name %></h5>
  <h3 class="resort_description"><%=h @resort.description %></h3>
</div>

<div class="blur_full_resorts">
	<%= render :partial => "testimonials" %>
</div>

<%= render :partial => "photos" %>

<% render :partial => "amenities" %>

<div class="rooms">
	<% if @rooms.empty? %>
	<% else %>
		<%= render :partial => "show_rooms" %>
	<% end %>
</div>

