<div class="main_blur">
	<h5><%=h @resort.name %></h5>
  <h3 class="resort_description"><%=h @resort.description %></h3>
</div>

<div class="blur_full_resorts">
	<%= render :partial => "testimonials" %>
</div>

<div class="photos">
	<%= image_tag @resort.photo_main.url %>
	<%= image_tag @resort.photo1.url %>
	<%= image_tag @resort.photo2.url %>
	<%= image_tag @resort.photo3.url %>
	<%= image_tag @resort.photo4.url %>
</div>

<% render :partial => "amenities" %>

<div class="rooms">
	<% if @rooms.empty? %>
		<%= render :partial => "new_room" %>
	<% else %>
		<%= render :partial => "show_rooms" %>
	<% end %>
</div>