<h1>Listing peoples</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Where</th>
  </tr>

<% for people in @peoples %>
  <tr>
    <td><%=h people.name %></td>
    <td><%=h people.email %></td>
    <td><%=h people.phone %></td>
    <td><%=h people.where %></td>
    <td><%= link_to 'Show', people %></td>
    <td><%= link_to 'Edit', edit_people_path(people) %></td>
    <td><%= link_to 'Destroy', people, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New people', new_people_path %>
